<style>
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
        background-color: #5c9cb8;
        
    }

    h1 {
        margin-bottom: 20px;
        font-size: 35px;
        text-align: center;
        margin-top: 60px;
    }

    .container-wrapper {
        background-color: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 90%;
        max-width: 800px;
        text-align: center;
        margin: 20px auto;
    }

    .instructions {
        margin: 20px 0;
        text-align: justify;
        font-size: 20px;
        color: #555;
    }

    .controls {
        margin-bottom: 20px;
        text-align: center;
    }

    .controls label {
        margin-right: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
        margin-bottom: 20px;
    }

    .cell {
        width: 100%;
        height: 50px;
        border: 1px solid black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 16px;
    }

    .cell input {
        width: 90%;
        height: 90%;
        border: none;
        background: transparent;
        text-align: center;
        font-size: inherit;
    }

    .cell.header {
        font-weight: bold;
        background-color: #eee;
    }

    .capture-button-container {
        text-align: center;
        margin-top: 20px;
    }

    .sum-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .sum {
        margin: 5px 0;
    }

    .tmar-container {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }

    button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .instruction-message {
        margin-top: 20px;
        font-size: 18px;
        color: #555;
    }

    .tmar-instruction {
        margin-top: 20px;
        font-size: 18px;
        color: #080b39;
        display: none;
    }

    .input-bordered {
        border: 2px solid #007bff;
        padding: 5px;
        border-radius: 5px;
        width: 100px;
        text-align: right;
    }

    .tmr-container {
        margin-top: 20px;
    }

    .calculate-tmar-button-container {
        margin-top: 20px;

    }


    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 260px;
        background: #03516d;
        z-index: 100;
        transition: all 0.5s ease;
    }

    .sidebar.close {
        width: 80px;
    }

    .sidebar .logo-details {
        height: 60px;
        width: 100%;
        display: flex;
        align-items: center;
    }

    .sidebar .logo-details i {
        font-size: 30px;
        color: #fff;
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
    }

    .sidebar .logo-details .logo_name {
        font-size: 22px;
        color: #fff;
        font-weight: 600;
        transition: 0.3s ease;
        transition-delay: 0.1s;
    }

    .sidebar.close .logo-details .logo_name {
        transition-delay: 0s;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links {
        height: 100%;
        padding: 30px 0 150px 0;
        overflow: auto;
    }

    .sidebar.close .nav-links {
        overflow: visible;
    }

    .sidebar .nav-links::-webkit-scrollbar {
        display: none;
    }

    .sidebar .nav-links li {
        position: relative;
        list-style: none;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li:hover {
        background: #5c9cb8;
    }

    .sidebar .nav-links li .iocn-link {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .sidebar.close .nav-links li .iocn-link {
        display: block;
    }

    .sidebar .nav-links li i {
        height: 50px;
        min-width: 78px;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li.showMenu i.arrow {
        transform: rotate(-180deg);
    }

    .sidebar.close .nav-links i.arrow {
        display: none;
    }

    .sidebar .nav-links li a {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    .sidebar .nav-links li a .link_name {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
        transition: all 0.4s ease;
    }

    .sidebar.close .nav-links li a .link_name {
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li .sub-menu {
        padding: 6px 6px 14px 80px;
        margin-top: -10px;
        background: #5c9cb8;
        display: none;
    }

    .sidebar .nav-links li.showMenu .sub-menu {
        display: block;
    }

    .sidebar .nav-links li .sub-menu a {
        color: #fff;
        font-size: 15px;
        padding: 5px 0;
        white-space: nowrap;
        opacity: 0.6;
        transition: all 0.3s ease;
    }

    .sidebar .nav-links li .sub-menu a:hover {
        opacity: 1;
    }

    .sidebar.close .nav-links li .sub-menu {
        position: absolute;
        left: 100%;
        top: -10px;
        margin-top: 0;
        padding: 10px 20px;
        border-radius: 0 6px 6px 0;
        opacity: 0;
        display: block;
        pointer-events: none;
        transition: 0s;
    }

    .sidebar.close .nav-links li:hover .sub-menu {
        top: 0;
        opacity: 1;
        pointer-events: auto;
        transition: all 0.4s ease;
    }

    .sidebar .nav-links li .sub-menu .link_name {
        display: none;
    }

    .sidebar.close .nav-links li .sub-menu .link_name {
        font-size: 18px;
        opacity: 1;
        display: block;
    }

    .sidebar .nav-links li .sub-menu.blank {
        opacity: 1;
        pointer-events: auto;
        padding: 3px 20px 6px 16px;
        opacity: 0;
        pointer-events: none;
    }

    .sidebar .nav-links li:hover .sub-menu.blank {
        top: 50%;
        transform: translateY(-50%);
    }

    .sidebar .profile-details {
        position: fixed;
        bottom: 0;
        width: 260px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #022d3d;
        padding: 12px 0;
        transition: all 0.5s ease;
    }

    .sidebar.close .profile-details {
        background: none;
        width: 78px;
    }

    .sidebar .profile-details .profile-content {
        display: flex;
        align-items: center;
    }
</style>
</head>

<body>

    <div class="sidebar close">
        <div class="logo-details">
            <i class='bx bx-menu'></i> <span class="logo_name">Menu</span>
        </div>
        <ul class="nav-links">

            <li>
                <a href="/users/calculator">
                    <i class='bx bxs-calculator'></i>
                    <span class="link_name">Interés compuesto</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Calculadora IC</a></li>
                </ul>
            </li>
            <li>
                <a href="/users/simbologia">
                    <i class='bx bx-question-mark'></i>
                    <span class="link_name">Simbología</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Simbología</a></li>
                </ul>
            </li>
            <li>
                <a href="/users/EjerciciosD">
                    <i class='bx bx-dollar'></i>
                    <span class="link_name">Ejercicios</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Ejercicios de depreciación</a></li>
                </ul>
            </li>
            <li>
                <a href="/users/tmar">
                    <i class='bx bx-search'></i>
                    <span class="link_name">TMAR</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Calcula la TMAR</a></li>
                </ul>
            </li>
            <li>
                <a href="/users/proyInv">
                    <i class='bx bx-bar-chart'></i>
                    <span class="link_name">Evaluar proyecto</span>
                </a>
                <ul class="sub-menu blank">
                    <li><a class="link_name" href="#">Evalua proyecto de inversión</a></li>
                </ul>
            </li>

        </ul>
    </div>
    <h1>Calcula la TMAR</h1>
    <div class="container-wrapper">
        <div class="instructions">
            La Tasa Mínima Aceptable de Rendimiento (TMAR) es una herramienta
            importante para evaluar la viabilidad de un proyecto o inversión y determinar si es rentable o no.
        </div>


        <div class="tmar-instruction" id="tmar-instruction">
            Por favor, ingrese los siguientes datos:
        </div>

        <div class="tmr-container" id="tmr-container" style="display: none;">
            <label for="inflacion">Inflación (%):</label>
            <input type="number" id="inflacion" class="input-bordered" min="0" step="0.01">
            <label for="premio-riesgo">Premio al riesgo (%):</label>
            <input type="number" id="premio-riesgo" class="input-bordered" min="0" step="0.01">
        </div>

        <div class="calculate-tmar-button-container" id="calculate-tmar-button-container" style="display: none;">
            <button onclick="calculateTMAR()">Calcular TMAR</button>
        </div>

        <div class="tmar-container" id="tmar-container" style="display: none;">
            TMAR: <div id="tmar-value" class="cell"></div>
        </div>

        <div id="rentabilidad-mensaje" style="display: none; text-align: center; margin-top: 20px;"></div>

    </div>

    <script>

        // Mostrar el mensaje de instrucción para TMAR
        document.getElementById("tmar-instruction").style.display = "block";

        // Mostrar el contenedor para ingresar inflación y premio al riesgo
        document.getElementById("tmr-container").style.display = "block";

        // Mostrar el botón para calcular TMAR
        document.getElementById("calculate-tmar-button-container").style.display = "block";

        console.log(data);


        function calculateTMAR() {
            var inflacion = parseFloat(document.getElementById("inflacion").value) || 0;
            var premioRiesgo = parseFloat(document.getElementById("premio-riesgo").value) || 0;

            // Convertir porcentajes a decimales
            inflacion /= 100;
            premioRiesgo /= 100;

            // Calcular TMAR
            var tmar = (inflacion + premioRiesgo + (inflacion * premioRiesgo)) * 100;

            // Mostrar TMAR en la celda correspondiente
            var tmarCell = document.getElementById("tmar-value");
            tmarCell.textContent = tmar.toFixed(2) + "%"; // Limitar a 2 decimales para mostrar

            // Mostrar el contenedor de TMAR
            document.getElementById("tmar-container").style.display = "block";

            // Mostrar el mensaje de rentabilidad esperada
            var rentabilidadEsperada = tmarCell.textContent;
            var mensaje = "Se espera obtener al menos el " + rentabilidadEsperada + " de rentabilidad de la inversión.";
            document.getElementById("rentabilidad-mensaje").textContent = mensaje;
            document.getElementById("rentabilidad-mensaje").style.display = "block";
        }
    </script>
</body>